{% extends "base.html" %}
{% block content %}

<div class="container" style="margin-top: 0.5rem;">
    <h2>Edit Device Switch Layer2</h2>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form method="POST">
        <div class="row g-3 align-items-center" style="margin: 1.5px;">
            <div class="col-auto">
                <label for="device_type" class="col-form-label">Device Type:</label>
            </div>
            <div class="col-auto">
                <input type="text" id="device_type" name="device_type" class="form-control" value="{{ device[8] }}" readonly>
            </div>
        </div>

        <div class="row g-3 align-items-center" style="margin: 1.5px;">
            <div class="col-auto">
                <label for="hostname" class="col-form-label">Device Hostname:</label>
            </div>
            <div class="col-auto">
                <input type="text" id="hostname" name="hostname" class="form-control" value="{{ device[6] }}" required>
            </div>
        </div>

        <div class="row g-3 align-items-center" style="margin: 1.5px;">
            <div class="col-auto">
                <label for="ip_address" class="col-form-label">Device IP Address:</label>
            </div>
            <div class="col-auto">
                <input type="text" id="ip_address" name="ip_address" class="form-control" value="{{ device[2] }}" required>
            </div>
        </div>

        <div class="row g-3 align-items-center" style="margin: 1.5px;">
            <div class="col-auto">
                <label for="user" class="col-form-label">Username:</label>
            </div>
            <div class="col-auto">
                <input type="text" id="user" name="user" class="form-control" value="{{ device[3] }}" required>
            </div>
        </div>

        <div class="row g-3 align-items-center" style="margin: 1.5px;">
            <div class="col-auto">
                <label for="password" class="col-form-label">Password:</label>
            </div>
            <div class="col-auto">
                <input type="password" id="password" name="password" class="form-control" value="{{ device[4] }}" required>
            </div>
            <div class="col-auto">
                <button type="button" onclick="togglePasswordVisibility('password')" class="btn btn-outline-secondary">Show</button>
            </div>
        </div>

        <div class="row g-3 align-items-center" style="margin: 1.5px;">
            <div class="col-auto">
                <label for="secret_password" class="col-form-label">Secret Password:</label>
            </div>
            <div class="col-auto">
                <input type="password" id="secret_password" name="secret_password" class="form-control" value="{{ device[5] }}" >
            </div>
        </div>

        <div class="row g-3 align-items-center" style="margin: 1.5px;">
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">Update Device</button>
                <a href="{{ url_for('sl2_device') }}" class="btn btn-secondary">Cancel</a>
            </div>
        </div>
    </form>
</div>
<script>
    function togglePasswordVisibility(id) {
        var input = document.getElementById(id);
        if (input.type === "password") {
            input.type = "text";
        } else {
            input.type = "password";
        }
    }
</script>

{% endblock content %}